<div class="main">
    <div class="main-child">
        <div class="photo">
            <img src="https://media.discordapp.net/attachments/800029274891223061/980931717021962240/IMG_8240.JPG?width=944&height=630" alt="">
        </div>
        <div class="about-me">
            <h3>About<strong>Me</strong> </h3>

            <p>Highly organized and detail-oriented, graduated with honors from It Step Georgia and Academy Of Digital Industries, looking for a Junior Front-End (Angular) position.</p>
            <span>Additional experience from YouTube Knowledge of Git and GitHub</span>
            <div class="buttons">
                <button class="but" (click)="downloadMyFile()">Download CV</button> 
            </div>
        </div>
        
    </div>
</div>