<div class="main">
    <div class="main_left col-md-6">
        <h6>Education</h6>
        <div class="education">
            <p><i class="far fa-calendar-week"></i> August 2021 - 2022 September</p>
            <h3>Bachelor of Computer Science</h3>
            <p class="desc d1">I studied C++ programming language at the beginner level</p>
            <p class="desc">Tbilisi State University</p>
        </div>

        <div class="education">
            <p>October 2021 - June 2022</p>
            <h3>Front-End Development</h3>
            <p class="desc d1">I studied Front-End Development at the junior level</p>
            <p class="desc">  IT Step Georgia</p> 
        </div>

        <div class="education">
            <p>August 2022 - October 2022</p>
            <h3>Angular Course</h3>
            <p class="desc d1">I studied Angular Framework of Javascript</p>
            <p class="desc">Academy Of Digital Industries</p>
        </div>
    </div>
    <div class="main_right col-md-6">
        <h6>Experience</h6>
        <div class="education"> 
            <p>August 2021 - 2022 September</p>
            <h3>Freshman at Tbilisi State University</h3>
            <p class="desc d1">I studied OOP principles and algorithms.</p>
            <p class="desc">Tbilisi State University</p>
        </div>

        <div class="education"> 
            <p>October 2021 - June 2022</p>
            <h3>The first student in the ranking</h3>
            <p class="desc d1">I have a lot of experience in both individual projects and group projects.</p>
            <p class="desc">IT Step Georgia</p>
        </div>

        <div class="education"> 
            <p>August 2022 - October 2022</p>
            <h3>Junior Front-End Developer</h3>
            <p class="desc d1">I got experience working with dynamic projects and making single page application</p>
            <p class="desc">Academy Of Digital Industries</p>
        </div>
    </div>
</div>